[Desktop Entry]
Name=Armada
Comment=Sovereign encrypted communities and chat
Exec=armada %U
Icon=buzz.armada.app
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
StartupWMClass=Armada
MimeType=x-scheme-handler/armada;x-scheme-handler/nostr;
